<header class="hero" id="inicio">
  <div class="container">
    <h1>Bienvenido al Club Deportivo</h1>
    <p>Participa en las votaciones para tomar decisiones importantes para nuestro club.</p>
    <a routerLink='/votaciones' class="btn btn-custom btn-lg">Votar Ahora</a>
    <a routerLink='/ver-resultados' class="btn btn-outline-light btn-lg">Ver Resultados</a>
  </div>
</header>

<main class="container my-5">
  <section>
    <h2 class="section-title">¿Por qué votar?</h2>
    <p>Tu opinión es fundamental para el futuro de nuestro club. Las votaciones son una oportunidad para que todos
      los miembros expresen sus preferencias y elijan las mejores propuestas.</p>
  </section>

  <section class="section">
    <h2 class="section-title">Instrucciones de Votación</h2>
    <ol>
      <li>Inicia sesión en tu cuenta.</li>
      <li>Selecciona la opción que deseas votar.</li>
      <li>Confirma tu voto.</li>
    </ol>
    <p>Recuerda que cada voto cuenta y es vital para el crecimiento y desarrollo de nuestro club.</p>
  </section>
</main>
