<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="assets/imgs/pachuca.png" alt="Logo Pachuca" class="centered-image">
    <a class="navbar-brand" href="#"><strong>Club Deportivo Pachuca</strong></a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/votar">Votaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resultados">Resultados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/acerca">Acerca del Club</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
      <a routerLink="/login" class="btn btn-outline-light my-2 my-sm-0 b">Iniciar Sesión</a>
    </div>
  </div>
</nav>
<header class="hero" id="inicio">
  <div class="container">
    <h1>Bienvenido al Club Deportivo</h1>
    <p>Participa en las votaciones para tomar decisiones importantes para nuestro club.</p>
    <a href="#votar" class="btn btn-custom btn-lg">Votar Ahora</a>
    <a href="#resultados" class="btn btn-outline-light btn-lg">Ver Resultados</a>
  </div>
</header>

<main class="container my-5">
  <section>
    <h2 class="section-title">¿Por qué votar?</h2>
    <p>Tu opinión es fundamental para el futuro de nuestro club. Las votaciones son una oportunidad para que todos
      los miembros expresen sus preferencias y elijan las mejores propuestas.</p>
  </section>

  <section>
    <h2 class="section-title">Instrucciones de Votación</h2>
    <ol>
      <li>Inicia sesión en tu cuenta.</li>
      <li>Selecciona la opción que deseas votar.</li>
      <li>Confirma tu voto.</li>
    </ol>
    <p>Recuerda que cada voto cuenta y es vital para el crecimiento y desarrollo de nuestro club.</p>
  </section>
</main>

<footer class="text-center">
  <p>&copy; 2024 Club Deportivo Pachuca. Todos los derechos reservados.</p>
  <p>Contáctanos: info&#64;clubdeportivo.com</p>
  <div class="social-icons">
    <a href="https://www.duoc.cl/" target="_blank"><img
        src="https://seeklogo.com/images/D/duoc-uc-logo-F1437952BE-seeklogo.com.png" alt="Logo Duoc UC"
        style="width: 50px; height: auto; margin: 0; border-radius: 50%;"></a>
    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
<router-outlet></router-outlet>