body {
    background-color: #ffffff;
    color: #000000;
}

.hero {
    background: linear-gradient(to bottom, #007bff, #0056b3);
    color: white;
    padding: 100px 0;
    text-align: center;
}

.btn-custom {
    background-color: #ff7f50;
    color: white;
    border-radius: 20px;
}

.btn-custom:hover {
    background-color: #ff6347;
}

.navbar {
    background: linear-gradient(white, #ff7f50, #007bff);
}

.navbar a {
    color: white !important;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

.section-title {
    color: #007bff;
    margin-top: 40px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
}

/* Estilos para la imagen */
.centered-image {
    display: block;
    margin: 20px auto; /* Centrar la imagen */
    width: 5%; /* Ajustar el ancho de la imagen (puedes cambiar este valor) */
    max-width: 400px; /* Limitar el ancho máximo */
    height: 5%; /* Mantener la proporción */
}

/* Estilos para el botón de iniciar sesión */
.btn-outline-light {
    color: white; /* Color del texto por defecto */
    border: 1px solid white; /* Borde blanco */
}

.btn-outline-light:hover {
    background-color: white; /* Fondo blanco en hover */
    color: black !important; /* Cambia el color del texto a negro en hover */
}
