<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="assets/imgs/Trump.jpg" class="card-img-top" alt="Foto de">
            <div class="card-body">
                <a routerLink='/ver-candidato' style="text-decoration: none;">
                    <h5 class="card-title">Nombre Candidato</h5>
                </a>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum rem blanditiis id
                    debitis nisi, ut sed hic vero repellendus consequuntur nihil, doloribus dolore nesciunt culpa alias?
                    Nemo iure fuga dolores!</p>
                <button class="btn btn-primary btn-block">Votar</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="assets/imgs/Trump.jpg" class="card-img-top" alt="Foto de">
            <div class="card-body">

                <p class="card-text">Descripción</p>
                <button class="btn btn-primary btn-block">Votar</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="assets/imgs/Trump.jpg" class="card-img-top" alt="Foto de">
            <div class="card-body">
                <h5 class="card-title">Nombre Candidato</h5>
                <p class="card-text">Descripción</p>
                <button class="btn btn-primary btn-block">Votar</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="assets/imgs/Trump.jpg" class="card-img-top" alt="Foto de">
            <div class="card-body">
                <h5 class="card-title">Nombre Candidato</h5>
                <p class="card-text">Descripción</p>
                <button class="btn btn-primary btn-block">Votar</button>
            </div>
        </div>
    </div>
</div>