.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.row {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.col{
    margin-bottom:1%;
}


h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: fadeInUp 0.8s ease-in-out;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    }
}

.card-body {
    text-align: center;
    padding: 1.5rem;
}

.card-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #34495e;
}

.card-text {
    font-size: 1rem;
    color: #7f8c8d;
    margin-bottom: 1.5rem;
}

.card-img-top {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* Prueba con 'contain' si 'cover' no funciona */
    margin: 1.5rem auto;
    border: 5px solid #ecf0f1;
}

.btn {
    background-color: #2980b9;
    border: none;
    color: white;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    border-radius: 30px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #3498db;
    }
}

.banner {
    background-color: #2980b9;
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 15px 15px 0 0;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width: 768px) {
    .card {
      margin-bottom: 2rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    .btn {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
  }